.header{
    background: rgb(255, 255, 255);
    padding: 20px 0;
}
.header h4{
    color: #0d6efd;
    text-align: left;
    transition: .5s;
}
.header h4:hover{
    color: dimgrey;
}
.header ul{
    text-align: center;
}
.header ul li{
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
    padding: 0 10px;
    transition: .5s;
}
.header ul li a:hover{
    color: dimgrey;
}

/* Background Part */
.background{
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-0/p403x403/159217740_1784682481691085_2549703048138622928_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=aee45a&_nc_ohc=NnzfYXPhHZ0AX9aaYR-&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=6&oh=d8a56697e2dbc5d9631989decbc927eb&oe=60B6D0E1);
    padding: 300px;
    background-size: cover;
    background-position: bottom center;
}
.background h2{
    color: white;
    font-weight: bold;
}
.content1 h2{
    font-size: 25px;
}
.content1 h5{
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    margin-left: -50px;
}
.content1 h4{
    font-size: 22px;
}
span{
    font-weight: 600;
}